NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_API_URL=https://dev-api-hiring.must.company

AUTH_SECRET="gXQc/0tmi17OBo41gohCb/nIfbRXn6CepX32eqyd0eQ=" # Added by `npx auth`. Read more: https://cli.authjs.dev

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=